{{ define "main" }}
{{$p:=.}}
<div id="home">
  
  {{with .Params.bildbereich}}
  <ul class="headerslider">
    {{ range $x,$img := .overlay_mitte_sliderbilder }}
    <li>
  <div id="headimg_l0"
    style="background:url({{partial "imgUrl" (dict "img" .hintergrund "params" "quality=100" )}}) left center no-repeat; background-size:cover;">
    {{if .content}}
    <div class="ui container">
      <div id="om2" >
        <a href="{{.link}}">
          <img src="{{partial "imgUrl" (dict "img" .bild "params" "quality=100" )}}"/>
        </a>
        <div class="ct">
          {{.content|safeHTML}}
          <a target="_blank" href="{{.link}}">
            <div class="mbutton">
              <div class="deco"></div>
              <div class="deco2"></div>
              <div class="deco3"></div>
              <div class="deco4"></div>
              <div class="label">{{.linkbeschriftung}}<i class="icon chevron right"></i></div>
            </div>
          </a>
        </div>
      </div>
    </div>
    
    {{else}}
    <div id="om">
      <div style="background:url({{partial "imgUrl" (dict "img" .bild "params" "quality=100" )}}) center {{if .content}}top{{else}}bottom{{end}} no-repeat; background-size:contain;"></div>
    </div>
    {{end}}
    <!-- <div id="om" style="background:url({{partial "imgUrl" (dict "img" .overlay_mitte "params" "quality=100" )}}) center bottom no-repeat; background-size:contain;"></div>-->
    <div id="or" style="background:url({{partial "imgUrl" (dict "img" .overlay_rechts "params" "quality=100" )}}) left bottom no-repeat; background-size:cover;">
  </div>
  
  </div>
</li>
  {{end}}
    </ul>
  {{end}}
  {{with .Params.leistungen}}
  <section>
    <div class="ui container">
      <div class="sectitlew">
        <h2>{{.titel|safeHTML}}</h2>
        <div class="line"></div>
      </div>
    </div>
    <div id="lst" style="background:url({{partial "imgUrl" (dict "img" .hintergrundbild "params" "quality=100" )}}) left center no-repeat; background-size:contain;">
      <div class="ui container">
        <a href="{{ref $p .link_bereiche_1}}">
        <div class="ui six column wide doubling grid lbers">
          {{range .bereiche1}}
          
            <div class="column">
                
              <img src="{{partial "imgUrl" (dict "img" .icon "params" "quality=100" )}}"/>
              <h3>{{.beschriftung|safeHTML}}</h3>
            </div>
          {{end}}
        </div>
        </a>
        <a href="{{ref $p .link_bereiche_2}}">
            <div class="ui six column wide doubling grid lbers">
          {{range .bereiche2}}
            <div class="column">
              <img src="{{partial "imgUrl" (dict "img" .icon "params" "quality=100" )}}"/>
              <h3>{{.beschriftung|safeHTML}}</h3>
            </div>
          {{end}}
        </div>
        </a>
        <!--
        <div class="bwr">
          <a href="{{.link_button}}">
            <div class="mbutton">
              <div class="deco"></div>
              <div class="deco2"></div>
              <div class="deco3"></div>
              <div class="deco4"></div>
              <div class="label">{{.beschriftung_button}}<i class="icon chevron right"></i></div>
            </div>
          </a>
        </div>
      -->
      </div>
    </div>
  </section>
  {{end}}

  {{with .Params.schenk_and_plomer}}
  <section id="sp">
    <div class="ui container">
      <div class="sectitlew">
        <h2>{{.titel|safeHTML}}</h2>
        <div class="line"></div>
      </div>
      <div class="contentc">{{.content|safeHTML}}</div>
    </div>

    <div id="spb">
      {{range .bereiche}}
        <div style="background:url({{partial "imgUrl" (dict "img" .overlay "params" "quality=100" )}}) right center no-repeat; background-size:cover;">
          <img src="{{partial "imgUrl" (dict "img" .logo "params" "quality=100" )}}"/>
          <h2>{{.titel|safeHTML}}</h2>
        </div>
      {{end}}
    </div>
  </section>
  {{end}}
  {{with .Params.kontakt}}
  <section id="sec-{{.interner_linkname}}">
      <div class="spm" id="{{.interner_linkname}}"></div>
    <div class="ui container">
      {{.content|safeHTML}}
    </div>
  </section>
  {{end}}
  {{range .Params.news_1.news}}
  <section id="news_1">
    <div class="ui container">
      <div class="sectitlew">
        <h2>{{.header}}</h2>
        <div class="line"></div>
      </div>
      {{if .contentext}}
      <div class="ui stackable grid imggal">
        <div class="four wide column imggalcol">
          <a target="_blank" href="{{.buttonlink}}">
            {{with .bilder}}
          <img class="bimg" src="{{partial "imgUrl" (dict "img" . "params" "g_auto,format=auto,fit=scale-down,height=600" )}}"/>
          {{end}}
          {{with .bild2}}
          <img class="bimg" src="{{partial "imgUrl" (dict "img" . "params" "g_auto,format=auto,fit=scale-down,height=600" )}}"/>
          {{end}}
          </a>
        </div>

        <div class="twelve wide column">
          <div class="contentj">
            {{.contentext|safeHTML}}
          </div>
          {{if .buttonlink}}
          <div class="bwr">
            <a target="_blank" href="{{.buttonlink}}">
              <div class="mbutton">
                <div class="deco"></div>
                <div class="deco2"></div>
                <div class="deco3"></div>
                <div class="deco4"></div>
                <div class="label">{{.buttonbeschriftung}}<i class="icon chevron right"></i></div>
              </div>
            </a>
          </div>
          {{end}}
        </div>
      </div>
      {{else}}
      <div style="text-align: center;">
      <img class="bimg" src="{{partial "imgUrl" (dict "img" .bilder "params" "g_auto,format=auto,fit=scale-down,height=600" )}}"/>
    </div>
      {{end}}
    </div>
  </section>
  {{end}}
  {{with .Params.news}}
  <section id="news">
    <div class="ui container">
      <div class="sectitlew">
        <h2>{{.header|safeHTML}}</h2>
        <div class="line"></div>
      </div>
      <div class="ui three column stackable grid imggal">
        <div class="column imggalcol">
          {{ range $x,$img := .bildergalerie }} {{if eq $x 0}}
            <img data-modal="imgg_about" class="bimg" data-idx="{{$x}}" src="{{partial "imgUrl" (dict "img" $img "params" "fit=cover,height=1200,width=1200,gravity=autoauto,format=auto,fit=scale-down,height=600" )}}"
            /> {{end}}{{end}}
        </div>
        <div class="column">
          <div class="ui two column stackable grid">
            {{ range $x,$img := .bildergalerie }} {{if gt $x 0}}{{if lt $x 5}}
            <div class=" column imggalcol">
              <img data-modal="imgg_about" data-idx="{{$x}}" class="simg" src="{{partial "imgUrl" (dict "img" $img "params" "fit=cover,height=1200,width=1200,gravity=autoauto,format=auto,fit=scale-down,height=200" )}}"
              /> 
            </div>
            {{end}}{{end}}{{end}}
          </div>
        </div>

        <div class="column">
          <div class="contentj">
            {{.contenttext|safeHTML}}
          </div>
          <div class="bwr">
            <a href="{{.buttonlink}}">
              <div class="mbutton">
                <div class="deco"></div>
                <div class="deco2"></div>
                <div class="deco3"></div>
                <div class="deco4"></div>
                <div class="label">{{.buttonbeschriftung}}<i class="icon chevron right"></i></div>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="ui modal small" id="modal_imgg_about">
        <div class="content">
          <ul id="gal_imgg_about" class="imggalslider">
            {{ range $x,$img := .bildergalerie }}
            <li>
              <img src="{{partial "imgUrl" (dict "img" $img "params" "fit=cover,height=1200,width=1200,gravity=autoauto,format=auto,fit=scale-down,height=500" )}} " />
            </li>
            {{end}}
          </ul>
        </div>
      </div>
    </div>
  </section>
  {{end}}
</div>
{{ end }} 