{{ define "main" }}
<div class="subpage" id="karriere">
  <div id="db" style="background:url({{partial "imgUrl" (dict "img" .Params.titel_bild "params" "q_100" )}}) center top no-repeat; background-size:cover;">
    <div class="subptitle">
      <div class="ui container standard">
        <h1>{{.Title|safeHTML}}</h1>
      </div>
    </div>
  </div>
  
  {{with .Params.content}}
  <div id="intro">
    <div class="ui container">
      <div class="sectitles">
        <div class="line"></div>
        <h3>{{.untertitel}}</h3>
      </div>
      <h2>{{.titel|safeHTML}}</h2>
      <div class="intc">
          {{.content|safeHTML}}
        </div>
    </div>
  </div>
  {{end}}
  <div class="ui container">
  {{range .Params.stellen}}
    <div class="sb">
      <h2>{{.art}}</h2>
      {{range .stelle}}
        <div class="st min">
          <h3><i class="plus circle icon"></i><i class="minus circle icon"></i>{{.titel}}</h3>
          <div class="std">{{.content|safeHTML}}</div>
        </div>
      {{end}}
    </div>
  {{end}}
    <div id="cu">
      <div div id="d1"></div>
      <div div id="d2"></div>
      <div>{{.Params.content_unten|safeHTML}}</div>
      <a href="{{.Params.button_link}}">{{.Params.button_beschriftung}}</a>
    </div>
  </div>
</div>
{{ end }}