{{ $t := .Site.GetPage "footer.md" }}
<footer class=" {{if .IsHome}}home{{end}}">
  <div class="footeri">
      <img id="fil" src="{{partial "imgUrl" (dict "img" $t.Params.logo "params" "q_100" )}}"/>
    <div class="ui container">
    <div class="ui six column wide doubling grid">
      {{range $t.Params.abschnitte}}
        <div class="column fc">
          {{.content|safeHTML}}
          {{range .logos}}
          <img src="{{partial "imgUrl" (dict "img" . "params" "q_100" )}}"/>
          {{end}}
        </div>
      {{end}}
    </div>
  </div>
  </div>
  <div class="footerm">
      <div class="ui container">
          <div class="footermenu">
              {{ $currentPage := . }} {{ range .Site.Menus.footer }}
              <a href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
              {{ end }}
            </div>
            <a class="eblink" href="http://elvirabeck-design.de" target="_blank">elvira.beck | design</a>
      </div>
  </div> 
</footer>